.movie {
    display: flex;
}

.movieDetail {
    display: grid;
    grid-template-columns:  repeat(2, 15rem);
    gap: 2rem;
}

.movieDetail div {
    grid-column: 1 / -1;
}

.movieDetail p {
    color: black;
}

.movieDetail span {
    background-color: lightgray;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    border-radius: 10px;
  }